{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{ post.name }}
{% endblock %}
{% block content %}
    <div class="text-left row align-items-center mb-2">
        <h1 class="h2 my-auto">{{ post.name }}</h1>
        {% if request.user.id == post.author_id %}
            <p class="my-auto ">(<a class="text-primary" href="{% url "edit_post" post.author_id post.id %}">Edit</a>)</p>
        {% endif %}
    </div>
    <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
    <div class="">
        <h3>Description</h3>
        <p>{{ post.body }}</p>
        <img style="max-height: 500px; max-width: 500px" class="gx-3 thumbnail img-fluid img-center rounded" src="{{ post.image.url }}" alt="">
    </div>
    <p class="mt-2">
        <a href="{% url "post_share" post.id %}">Share this post</a>
    </p>
    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endwith %}
    {% if similar_posts %}
        <p>Similar posts</p>
        {% for post in similar_posts %}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endfor %}
    {% endif %}
    {% for comment in comments %}
        <div>
            <div class="row">
{#                <img style="max-width: 30px; max-height: 30px" class="gx-3 thumbnail img-fluid img-center rounded" src="{{ comment.get_photo }}" alt="">#}
                <p class="h6 text-decoration-underline info">Comment by {{ comment.name }}</p>
            </div>
            <p class='fw-light'>{{ comment.created }}</p>
            <p class="h6">{{ comment.body|linebreaks }}</p>
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <div class="container">
            <form action="." method="post">
                {{ comment_form|crispy }}
                {% csrf_token %}
                <div>
                    {% for field in form %}
                    <div class="form-group">
                        {{field.label_tag}}
                        <div>{{field}}</div>
                        {% if field.errors%}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{error}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <p><input type="submit" class="btn btn-primary" value="Add comment"></p>
            </form>
        </div>
    {% endif %}
{% endblock %}